{% extends 'base.html' %}  

{% load static %}


<!--Input html goes here-->
{% block css %}

{% endblock css %}


<!--Input html goes here-->
{% block title %}

{% endblock title %}


<!--Input html goes here-->
{% block content %}
    <div id='canvas'></div>
    <div>
        Bottom page
    </div>
{% endblock content %}


<!--Input html goes here-->
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.module.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.module.min.js"></script>
    <script src="{% static 'three/lil-gui.module.min.js' %}"></script>
    <script src="{% static 'js/carpa_base.js' %}"></script>
{% endblock scripts %}